<!DOCTYPE html>
<html lang="en" dir="ltr">
    <!-- *********************************** HEAD -->
    <head>
        <meta charset="utf-8">
        <title>News evaluation using NLP</title>
    </head>

    <!-- *********************************** CONTENT -->
    <body>

        <!-- ******************************* HEADER -->
        <header>
            <div class="header-container">
                <p>Sentiment Analysis for Text using NLP</p>
            </div>
        </header>

        <!-- ******************************* MAIN -->
        <main>
            <!-- **************** DESCRIPTION -->
            <section class="description">
                <h1>Description</h1>
                <p>
                    This application allows the user to evaluate the
                    sentiment of custom text.
                </p>
                
                <p>How to use the app:</p>
                
                <ul>
                    <li>Type in your text in the input section / or copy-paste form
                        the sample text.</li>
                    <li>Then press evaluate to assess the sentiment of the text.</li>
                </ul>
            </section>
            
            <!-- **************** SAMPLE TEST -->
            <section class="template-text">
                <h1>Template text</h1>
                <p>
                    With less than one week to go before election
                    day on November 3, former vice-president Joe Biden,
                    the nominee of the Democrats, is polling narrowly
                    ahead of incumbent Republican president Donald Trump
                    in key battleground states, though he has seen his
                    lead narrow in some states since the summer.

                    In Michigan, Pennsylvania, and Wisconsin, where Mr
                    Trump won by razor thin margins in 2016, polls show
                    Mr Biden leading by more than five percentage points.
                    The race is closer in the crucial state of Florida.

                    Some of the closest races, though, are in states that
                    Mr Trump won in 2016. North Carolina and Georgia have
                    each voted Republican in nine out of the last 10
                    presidential elections, but appear to be close contests
                    this year. Similarly close races exist in Ohio and Iowa,
                    both states Barack Obama won in 2012 but where Mr Trump
                    beat Hillary Clinton in 2016.
                </p>
                <p class="source">Source: Financial Times (2020), https://ig.ft.com/us-election-2020/</p>
            </section>

            <!-- **************** USER INPUT FROM -->
            <section class="input-form"> 
                <h1>Input form</h1>
                
                <div class="form-container">
                    <form class="submission-form" onsubmit="return handleSubmit(event)" action="">
                        <textarea id="input-text" class="" type="text" value="" name="input-text" rows="1" cols="60" placeholder="Type something here..."></textarea>
                        <input class="submit" type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                    </form>
                </div>
            </section>

            <!-- **************** RESULT -->
            <section class="result">
                <h1>Results</h1>
                <div class="analysed-text-container">
                    <h2>The text you analysed</h2>
                    <p class="analysed-text"></p>
                </div>
                <div class="results-container">
                    <h2>The results are as follows</h2>
                    <p class="results">
                        <ul class="results">
                            <li class="sentimentScore"></li>
                            <li class="subjectivity"></li>
                            <li class="confidence"></li>
                            <li class="irony"></li>
                            <li class="agreement"></li>
                        </ul>
                    </p>
                </div>
            </section>
        </main>

        <!-- ******************************* FOOTER -->
        <footer>
            <div>&copy Created by Alexander Nederegger | Udacity Front-End Developer Programme</div>
        </footer>
    </body>
</html>